<div id="login-form">
    <h2>Enter Login credentials</h2>
    <mat-form-field appearance="fill">
        <mat-label>Enter email</mat-label>
        <input type="text" name="email" placeholder="Email" [(ngModel)]="email" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Enter Password</mat-label>
        <input type="text" name="password" placeholder="password" [(ngModel)]="password" matInput>
    </mat-form-field>
    <button type="submit" color="primary" mat-raised-button (click)="validateUser()">Login</button>
</div>