<!-- <div class="container">
    <p>Add new note</p>
    <input class="note-field" [(ngModel)]="note.title" type="text" placeholder="Note title">
    <textarea name="content" [(ngModel)]="note.content" cols="30" rows="3" placeholder="Note content"></textarea>
    <button (click)="addNote()">Save </button>
</div> -->

<mat-expansion-panel expanded="true" id="container">
    <mat-expansion-panel-header>
        <mat-panel-title>
            New Note
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field class="note-input-fields" appearance="legacy">
        <mat-label>Note Title</mat-label>
        <input matInput [(ngModel)]="note.title" type="text" placeholder="Note title">
    </mat-form-field>
    <mat-form-field class="note-input-fields" appearance="legacy">
        <mat-label>Note Content</mat-label>
        <textarea matInput [(ngModel)]="note.content" cols="40" rows="3" placeholder="Note content"></textarea>
    </mat-form-field>
    <div>
        <button (click)="addNote()" id="add-button" color="primary" mat-mini-fab>
            <mat-icon>save</mat-icon>
        </button>
    </div>
</mat-expansion-panel>